<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ControlVMConnection"
			 connectionString="Server=PC-26;Database=ControlVM;User Id=gestion;Password=infodba;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>